/* Ratings */
.rating-title {
	font-weight: normal;
	font-size: 14px;
	margin: 10px 0;
}
.rating-widget {
}
.rating-widget a, .fake-rating-button {
	background: #252525;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	margin-right: 15px;
	padding: 6px 10px;
	width: 150px;
}
.rating-widget a:before, .fake-rating-button:before {
	color: #fff;
}

a.rating-up-inactive:hover, a.rating-down-inactive:hover {
	background: #999;
	cursor: pointer;
}
a.rating-up-active, a.rating-down-active {
	background: #eb1134;
}

.rating-count {
	height: 0;
}
.rating-count span {
	border-left: 1px solid #000;
	color: #fff;
	display: inline-block;
	margin-left: 125px;
	padding: 6px 0 6px 14px;
	position: relative;
	top: -30px;
	width: 45px;
}
.visitor-count {
	height: auto;
}
.visitor-count span {
	display: inline;
	margin-left: 20px;
	position: static;
}
.visitor-count div:nth-child(2) span {
	margin-left: 50px;
}
